body {
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
    color: #000000;
    text-align: center;
    margin-bottom: 10px !important;
}

button {
    background-color: #00ad56;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: block;
    margin: 0 auto 30px; /* Center vertically and add bottom margin */
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 0.4s;
    max-width: 300px; /* Limit max width for larger screens */
}

a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

button:hover {
    background-color: #00823f;
}

/* Mobile responsive */
@media screen and (max-width: 600px) {
    button {
        width: 80%; /* Adjust button width for smaller screens */
        margin-left: auto; /* Center button horizontally on smaller screens */
        margin-right: auto; /* Center button horizontally on smaller screens */
    }
}

